*{
    box-sizing: border-box;
}

body{
    background-color: rosybrown;
    display: flex
    flex-direction: row;
    

}

.title{
    color: wheat;
}

#aaa{
    color: saddlebrown;
    font-size: 20px;
}

#ccc{
    font-size: 20px;
}